run = "python replit_run.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "python app.py"]

[env]
PYTHONDONTWRITEBYTECODE = "1"
PYTHONUNBUFFERED = "1"

[[ports]]
localPort = 5000
externalPort = 80 